<h3 class="" style="text-align: center;">Edit page</h3>
<div *ngIf="message" class="alert alert-success alert-dismissable fade show" role="alert">
<strong>sucess</strong>user updated
<button (click)="removemessage()" type="button" data-bs-dismiss="alert" aria-label="Close">X</button>
</div>
<form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="id" class="form-label">id</label>
      <input type="number" class="form-control" id="id"  formControlName="id">
      
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>

    <div class="mb-3">
        <label for="uname" class="form-label">User Name</label>
        <input type="text" class="form-control" id="uname" formControlName="username">
      </div>

      <div class="mb-3">
        <label for="addr" class="form-label">Address</label>
        <input type="text" class="form-control" id="addr" formControlName="address">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
   
    <button type="submit" class="btn btn-primary">Submit details</button>
  </form>
